form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(195, 186, 186);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.submit {
  background: linear-gradient(
    0deg,
    rgb(0, 38, 63) 0%,
    rgb(0, 97, 136) 41%,
    rgb(128, 187, 255) 87%
  );
  color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 16px;
  font-weight: 700;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  background: linear-gradient(
    0deg,
    rgb(0, 105, 175) 0%,
    rgb(35, 52, 53) 41%,
    rgb(0, 75, 161) 87%
  );
  border-radius: 20px;
  color: rgb(255, 245, 199);
  transition: 0.3s;
}

.fieldset {
  border: 1px solid rgba(0, 0, 97, 0.205);
  border-radius: 5px;
  background-color: #f2f2f288;
  padding: 20px;
}

.fieldsetGender {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f288;
  padding: 10px;
}

labelG {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.error {
  color: red;
}
