<form (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm" class="form">
  <fieldset class="fieldset">
    <label for="name" class="label">Name:</label>
    <input type="text" id="name" formControlName="name" />
  </fieldset>
  <div
    class="error"
    *ngIf="
      !userRegisterForm.get('name')?.valid &&
      (userRegisterForm.get('name')?.touched || submitted)
    "
  >
    Name required.
  </div>

  <fieldset class="fieldset">
    <label for="email"> Email:</label>
    <input type="email" id="email" formControlName="email" />
  </fieldset>
  <div
    class="error"
    *ngIf="
      !userRegisterForm.get('email')?.valid &&
      (userRegisterForm.get('email')?.dirty || submitted)
    "
  >
    Email is required.
  </div>
  <fieldset class="fieldset">
    <label for="password"> Password:</label>
    <input type="password" id="password" formControlName="password" />
  </fieldset>
  <div
    class="error"
    *ngIf="
      !userRegisterForm.get('password')?.valid &&
      (userRegisterForm.get('password')?.dirty || submitted)
    "
  >
    Password must contain at least 8 characters.
  </div>
  <fieldset class="fieldset">
    <label for="passwordRepeat"> Repeat Password:</label>
    <input
      type="password"
      id="passwordRepeat"
      formControlName="passwordRepeat"
    />
  </fieldset>
  <div
    class="error"
    *ngIf="
      !userRegisterForm.get('passwordRepeat')?.valid &&
      (userRegisterForm.get('passwordRepeat')?.dirty || submitted)
    "
  >
    Password error.
  </div>
  <div class="fieldset">
    <p>Gender:</p>
    <fieldset class="fieldsetGender">
      <label for="genderMale"> Male:</label>
      <input
        type="radio"
        id="genderMale"
        formControlName="gender"
        value="Male"
      />
      <label for="genderFemale"> Female:</label>
      <input
        type="radio"
        id="genderFemale"
        formControlName="gender"
        value="Female"
      />
      <label for="genderOther"> Other:</label>
      <input
        type="radio"
        id="genderOther"
        formControlName="gender"
        value="Other"
      />
    </fieldset>
    <button [disabled]="!userRegisterForm.valid" class="submit">
      Send User
    </button>
  </div>
</form>
