/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: rgb(246, 255, 249);
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;

  }